/*.main-sidebar{
	background: #fff !important;
}

.sidebar-menu li a{
	color: #1e282c !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
	color: #fff !important;
}*/

/*.fa{
	display: block !important;
}*/

/*.treeview{
	padding-top: 30px !important;
}*/

/*.main-sidebar{
	width: 130px;
}*/

/*.content-wrapper, .right-side, .main-footer{
	margin-left: 130px;
}*/

.title-padding{
	padding-left: 50px;
}

h2{
	font-size: 25px;
}

.breadcrumnb-arrow{
	display: inline-block !important; 
	text-align: left;
}

/* DASHBOARD ACTIONS CSS */

#Actions h2{
	font-size: 28px;
	font-weight: 500;
}

#Actions .alert{
	padding-bottom: 20px;
}

#Leads h2, #LeadProgression h2, #topcontent h2, #lead_channel h2, #topcontent h2, #recent_leads h2, #lead_funnel h2, #cookies_breakdown h2{
	font-size: 28px;
	font-weight: 500;
}

.load_converted{
	background-color: #327aba !important;
}

.alert-header{
	padding-top: 10px;
	padding-bottom: 10px;
}

.alert-header img{
	width: 30px;
	height: 30px;
	margin-top: -8px;
}

.alert-header span{
	font-size: 23px;
	margin-left: 10px;
}

.alert-header #black{
	color: #000;
}

.right{
	float: right;
}

.details-btn{
	color: black; 
	margin-right: 8px; 
	border: 1px solid  #dddddd;
	border-radius: 3px; 
	padding: 5px;
}

.det-btn{
	background-color:#ababab;
	color: black;
	margin-right: 8px; 
	border: 1px solid  #dddddd;
	border-radius: 3px;
	padding: 5px;
}

.close-btn{
	display: inline-block !important; 
	font-size: 20px; 
	padding-top: 15px;
}

.alert-content{
	padding:20px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.red-bg{
	background-color: #e70047 !important;
}

.grey-bg{
	background-color: #f5f7ff !important;
}

.black{
	color: black;
}

.select_filter{
	display: inline-block !important; 
	margin-top: -30px;
}

.select_filter select{
	border: none;
}

.select_filter select option div{
	font-size: 16px;
}

#content, .box-body{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.padding{
	padding: 15px;
}

.percentage{
	font-size: 30px;
	text-align: center;
}

.pertext{
	font-size: 24px;
	text-align: center;
}

#screenshot{
	display:inline-block;
	width: 80%;
	height: 300px;
	padding-bottom: 20px
}

#screenshot iframe{
	width: 100%;
	height: 100% ;
	border: 1px solid gray;
}

#content .content_1{
	padding-left: 80px;
}

#content .content_1 h4{
	padding-top: 8px;
}

#content .box{
	width: 80% !important;
}

#tab_1 .box, #tab_2 .box, #tab_3 .box, #tab_4 .box{
	width: 100% !important;
}

.center{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.box-center{
	margin-left: 7.33333%;
}

.content_1 h4{
	font-size: 17px !important;
}

.box1{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}


/* DASHBOARD ACTIONS CSS ENDS */

/* LEAD PAGE CSS STARTS */
#topContents h2, #lead_channel h2, #recent_leads h2, #lead_funnel h2, #cookies_breakdown h2{
	font-size: 28px;
}

.lead_padding{
	padding-left: 30px;
}

.funnel_style{
	margin-left: 10.33333%;
}

.table-box{
	width: 100% !important;
}

.table-center{
	margin-left: 10.33333%;
}
/* LEAD PAGE CSS ENDS */


@media (max-width: 767px){
	.content-wrapper, .right-side, .main-footer{
	margin-left: 0px;
	}

	.pull-right{
		float: left !important;
	}

	.box-padding{
		padding-left: 0px !important;
	}
}

.main-sidebar{
	border-right: 1px solid #1e282c;
}

.content-wrapper, .right-side{
	background: #fff;
}

@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: #fff;
    
  }
}

.box-header{
	background: #f6f8ff;

}

.box{
	border-top: none;
}
.box-header h3{
	padding-top: 5px;
	font-weight:600;
	font-size: 18px !important;
}

.close{
	display: inline-block !important; 
	float: right; 
	padding-left: 15px; 
	padding-top: 10px;
	color: #000;
}

.def-btn{
	display: inline-block; 
	float: right;
}

.box-display{
	display: inline-block;
}

.box-padding{
	padding-left: 30px;
}

.lead-box{
	border-top: none; 
	background: #f6f8ff;
}

.left{
	float: left;
}

.circle-darkblue{
	float: left; 
	color: #2a2c5c;
}

.circle-blue{
	float: left; 
	color: #347fc4;
}

.boxheader-blue{
	background-color: #347fc4;
}
.white{
	color: #fff;
}

.col-left{
	margin-left: -100px !important;
}

.width{
	width: 500px;
}

.box-red{
	background-color: #ed254e;
}

.circle-red{
	float: left; 
	color: #ed254e;
}

.circle-green{
	float: left; 
	color: #23cc6a;
}

.green{
	color: #23cc6a;
}

.blue{
	color: #347fc4;
}

.left h5{
	float: left; 
	padding-left: 20px; 
	padding-top: 20px;
}

.paddingleft{
	padding-left: 10px !important;
}

#paddingbottom{
	padding-bottom: 20px;
}

.boxtitle{
	text-align: center;
}

.align{
	padding-left: 80px;
}

.icon{
	float: left; 
	padding-top: 20px;
}

.metrics{
	float: left; 
	margin-top: 0px; 
	padding-left: 10px; 
	font-size: 68px !important;
}

.content_1{
	padding-top: 20px; 
	padding-bottom: 20px;
}

.thumbnail_image{
	text-align: center; 
	padding-top: 15px;
	
}

.left30{
	padding-left: 30px;
}

.left h1{
	font-size: 50px;
}

.top{
	padding-top: 20px;
}

.paddingleft h6{
	float: left; 
	padding-left: 10px; 
	font-size: 18px;
}
.paddingleft i{
	float: left;
}

#icon{
	padding-right: 15px;
}

.paddingleft{
	padding-left: 10px !important;
}

.padding-left{
	padding-left: 5px !important;
}
#icon_style{
	margin-top: 20px;
}

/**LEADS PAGE STYLES **/
#tablehead{
	background-color: #2a2c5c !important;
}

#tablehead th{
	color:  #fff !important;
}

/** DETAILS PAGE CSS **/
.behaivor_circle{
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background-color: #2b2d5f;
	color: #b8b9e4;
	display: flex;
	align-items:center;
	font-size: 24px;
	margin:0 auto;
	justify-content: center;
	text-align: center;
}
.behaivor_circle span{
	color: #96858a;
}
.con div{
	float: right;
	width: 80%;
	height: 180px;
	background-color: #30305b;
	color: #b8b9e4;
	display: flex;
	align-items:flex-end;
	font-size: 24px;
	margin:0 auto;
	justify-content: center;
	text-align: center;
}
.con div span{
	color: #96858a;
}
#con_1{
	height: 180px;
}
#con_2{
	height: 150px;
}
#con_3{
	height: 130px;
}
#con_4{
	height: 100px;
}
#con_5{
	height: 80px;
}

.con{
	display: flex;
	align-items:flex-end;
	justify-content: right;
	height: 180px;
}
.scrolls{
	border-bottom: 1px solid white; 
	overflow-y: scroll;
	height: 300px; 
}
svg{
	height: 500px;
}

.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
